# Copie ce fichier en .env.local pour lancer en local
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/anti_fraud_local?schema=public"
NEXTAUTH_SECRET="CHANGE_ME_GENERATE_WITH_OPENSSL_RAND_BASE64_32"
NEXTAUTH_URL="http://localhost:3000"
